
<div class="ui five cards">
    <div class="card" style="background-color:#4183c4;">
        <h3>${_stations.name}</h3>
        <em class="big" data-emoji=":compass:"></em>
        <br>
        Lat: ${_stations.latitude}<br>
        Lng: ${_stations.longitude}
    </div>
    <div class="card" style="background-color:#4183c4;">
        <h3>Weather</h3>
        <em class="big" data-emoji=":white_sun_small_cloud:"></em>
        <br>
        ${_stations.weatherCode}
    </div>
    <div class="card" style="background-color:#4183c4;">
        <h3>Temp</h3>
        <em class="big" data-emoji=":thermometer:"></em>
        <br>
        ${_stations.latestTemp}C <br>
        ${_stations.latestFTemp} F
        <br>
        Max: ${_stations.maxTemp}
        <br>
        Min: ${_stations.minTemp}
    </div>
    <div class="card" style="background-color:#4183c4;">
        <h3>Wind</h3> <i class="teal massive wind icon"></i><br>
        ${_stations.latestWind}bft <br>
        ${_stations.windCompass} <br>
        Feels like <br>
        ${_stations.latestChill}
        <br>
        Max: ${_stations.maxWind}
        <br>
        Min: ${_stations.minWind}
    </div>
    <div class="card" style="background-color:#4183c4;">
        <h3>Pressure</h3>
        <i class="red massive tachometer alternate icon"></i>
        <br>
        ${_stations.latestPressure}hpa
        <br>
        Max: ${_stations.maxPressure}
        <br>
        Min: ${_stations.minPressure}
    </div>
</div>
